<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hafalapps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SurahActivity.AttinActivity"></activity>
        <activity android:name=".SurahActivity.AlalaqActivity" />
        <activity android:name=".SurahActivity.AlqodrActivity" />
        <activity android:name=".SurahActivity.AlbayyinahActivity" />
        <activity android:name=".SurahActivity.AzzalzalahActivity" />
        <activity android:name=".SurahActivity.AladiatActivity" />
        <activity android:name=".SurahActivity.AlqoriahActivity" />
        <activity android:name=".SurahActivity.AttakasurActivity" />
        <activity android:name=".SurahActivity.AlasrActivity" />
        <activity android:name=".SurahActivity.AlhumazahActivity" />
        <activity android:name=".SurahActivity.AlfilActivity" />
        <activity android:name=".SurahActivity.AlquraisyActivity" />
        <activity android:name=".SurahActivity.AlmaunActivity" />
        <activity android:name=".SurahActivity.AlkautsarActivity" />
        <activity android:name=".SurahActivity.AlkafirunActivity" />
        <activity android:name=".SurahActivity.AnnasrActivity" />
        <activity android:name=".SurahActivity.Al_LahabActivity" />
        <activity android:name=".SurahActivity.AlikhlasActivity" />
        <activity android:name=".SurahActivity.AlfalaqActivity" />
        <activity android:name=".SurahActivity.AnnasActivity" />
        <activity android:name=".SurahActivity.MurajaahActivity" />
        <activity
            android:name=".PenilaianActivity"
            android:theme="@style/AppThemeNo" />
        <activity android:name=".AlarmActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".Splash_screen"
            android:theme="@style/AppThemeNo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver" />

        <service
            android:name=".notifications.FirebaseService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".notifications.FirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>